.main-header .logo{
	font-family: "Georgia", Times, "Times New Roman", serif;

}

h1 {
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 10px;
	font-weight: bold;
	text-align: left;
	
}

h3 {
	font-weight: bold;
	font-family: "Georgia", Times, "Times New Roman", serif;
	margin: 10px;
	text-align: left;
}

h2 {
	font-family: "Georgia", Times, "Times New Roman", serif;
	padding: 10px;
	font-weight: bold;
	text-align: left;
}

h4 {
	padding: 10px;
	text-align: justify;
	font-size: 20px;
}

#intro {
	padding: 30px;
	text-align: center;
}

#datein {
	height: 34px;
}


